body, html {
  height: 100%;
  width: 100%;
}
body {
  font-family: arial;
  text-align: center;
  margin: 0;

  /* Display after css resize */
  opacity: 0;

  /* Unseletable for everthing */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;

  /* Disable Scroll */
  position: fixed;
  overflow-y: scroll;
}

#wrapper {
  margin: 0 auto;
}

table, .fullDiv {
  width: 100%;
  background-color: white;
}

/* Title Bar */

#titleBar {
  height: 4rem;
  width: 100%;
  background-color: #24d3d9;
  color: white;
  text-align: left;
  display: none;
}

#titleBar.show {
  display: block;
  animation-name: titleBarShow;
  animation-duration: 0.5s;
}

@keyframes titleBarShow {
  from {background-color: white;}
  to {background-color: #24d3d9;}
}

#titleBar > p {
  font-size: 2rem;
  line-height: 4rem;
  padding-left: 1rem;
  margin: 0;
  display: inline;
}

#left-arrow {
  font-size: 1.5rem;
}

#left-arrow:hover {
  cursor: pointer;
}

/* Initial Page Status */

#loginDiv {
  display: block;
}

#typeTable, #priceTable, #msgDiv {
  display: none;
}

/* Price Table, Type Table */

td {
  background-color: #eeeeee;
  transition: background-color 0.6s ease;
}

td:hover {
  background-color: #FFCCCC;
}

#display {
  background-color: white;
}

/* Full size div*/
.fullDiv {
  height: 100%;
}

/* Login Div */
h3 {
  margin-top: 10vh;
  margin-bottom: 10vh;
  font-size: 7vh;
}

#loginDiv > p {
  font-size: 3vh;
  padding: 1.2vh;
}

form {
  font-size: 4vh;
}

input[type=text], input[type=password] {
  border: 1px solid #999;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 1em;
  font-size: 4vh;
}

button {
  background-color:#ffffff;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  border:1px solid #dcdcdc;
  cursor:pointer;
  color:#666666;
  font-size: 4vh;
  font-weight:bold;
  padding: 2vh 4vw;
  margin-top: 6vh;
}
button:hover {
  background-color: #24d3d9;
}

input:focus, button:focus {
  outline: none;
}

#version {
  margin: 5vh;
}

/* Message Div */
#msgDiv {
  font-size: 3vh;
}

#msgDiv > h2 {
  margin: 70px;
}

/* List Div */
#listDiv {
  overflow-y: scroll;
}

#recordTable {
  font-size: 4vh;
}

#recordTable > tbody > tr > td {
  background-color: white;
  height: 8vh;
}

.small-icon, .large-icon {
  background-repeat: no-repeat;
  background-position: center;
}

.small-icon {
  height: 50px;
  width: 50px;
  background-size: 50px;
}

.large-icon {
  height: 125px;
  width: 125px;
  background-size: 125px;
}

#setting {
  background-image: url("../img/setting.png");
}

#lineChart {
  background-image: url("../img/line-chart.svg");
}

#pieChart {
  background-image: url("../img/pie-chart.png");
  background-size: 125px;
  background-repeat: no-repeat;
  background-position: center; 
}

#logout {
  background-image: url("../img/logout.png");
}

#feedback {
  background-image: url("../img/feedback.svg");
}

#showList {
  background-image: url("../img/list.png");
}

/* Setting Div */

#settingDiv {
  font-size: 20px;
}

/*

Responsive Settings

*/

@media (max-width: 319px), (max-height: 479px) {
  /* Why your device is so small */
  body {
    font-size: 30px;
  }
  table {
    border-spacing: 10px;
  }
  td {
    height: 40px;
    width: 60px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  #wrapper {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 320px) and (min-height: 480px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  body {
    font-size: 45px;
  }
  table {
    border-spacing: 10px;
  }
  td {
    height: 65px;
    width: 100px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  }
  #wrapper {
    height: 480px;
    width: 320px;
  }
}

@media (min-width:480px) {
  /* smartphones, Android phones, landscape iPhone */
  td {
    width: 150px;
  }
  #wrapper {
    width: 480px;
  }
}
@media (min-width:641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  td {
    width: 200px;
  }
  #wrapper {
    width: 640px;
  }
}
@media (min-width:961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  td {
    width: 300px;
  }
  #wrapper {
    width: 960px;
  }
}
@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
  td {
    width: 320px;
  }
  #wrapper {
    width: 1024px;
  }
  #recordTable td {
    width: 160px;
  }
}
@media (min-width:1281px) {
  /* hi-res laptops and desktops */
  td {
    width: 400px;
  }
  #wrapper {
    width: 1280px;
  }
  #recordTable td {
    width: 200px;
  }
}

