body, html {
  height: 100%;
  width: 100%;
}
body {
  font-family: arial;
  opacity: 0;

  /* unseletable for everthing */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;

  /* Disable Scroll */
  position: fixed;
  overflow-y: scroll;

  text-align: center;
  vertical-align: middle;

  margin: 0;

  background-color: white;
}

table, #loginDiv, #msgDiv {
  /*background-color: white;*/
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
}

table {
  font-size: 45px;
  border-spacing: 12px;
}
#typeTable {
  display: none;
  z-index: 1;
}
td {
  
  height: 74px;
  width: 90px;
  border-radius: 3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  
  background-color: #eeeeee;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;

  vertical-align: middle;
  text-align: center;
}

td:hover {
  background-color: #ff8080;
}

#display {
  background-color: white;
}

.fullDiv {
  width: 318px;
  height: 452px;

  z-index: 1;
  text-align: center;
  vertical-align: middle;
}

#loginDiv > h1 {
  margin-top: 70px;
  margin-bottom: 60px;
}

#loginDiv > p {
  padding: 10px;
}

form {
  font-size: 18px;
  line-height: 1.3em;
}

input[type=text], input[type=password] {
  border: 1px solid #999;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 1em;
  font-size: 20px;
}

button {
  background-color:#ffffff;
  -moz-border-radius:22px;
  -webkit-border-radius:22px;
  border-radius:22px;
  border:1px solid #dcdcdc;
  cursor:pointer;
  color:#666666;
  font-size:16px;
  font-weight:bold;
  padding:9px 22px;
  margin-top: 25px;
}
button:hover {
  background-color: #f6f6f6;
}

input:focus, button:focus {
  outline: none;
}

#version {
  
  margin: 1em;
}

#msgDiv {
  z-index: 2;
  font-size: 24px;
  display: none;
}