body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  background-color: #f5f5f5;
  font-family: arial;
  text-align: center;
  font-size: 22px;

  /* Display after css resize */
  opacity: 0;

  /* Unseletable for everthing */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#wrapper {
  width: 320px;
  height: 450px;
  margin: 1px auto;
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: #888888;
  box-shadow: 0px 5px 30px #666666;
  background-color: #ffffff;
}

/* Title Bar */

#titleBar {
  height: 48px;
  width: 100%;
  background-color: #24d3d9;
  color: white;
  text-align: left;
  display: none;
  width: 320px;
}

#titleBar.show {
  display: block;
  animation-name: titleBarShow;
  animation-duration: 0.5s;
}

@keyframes titleBarShow {
  from {background-color: white;}
  to {background-color: #24d3d9;}
}

#titleBar > p {
  line-height: 48px;
  padding-left: 14px;
  margin: 0;
  display: inline;
}

#left-arrow:hover {
  cursor: pointer;
}

/* Initial Page Status */

#loginDiv {
  display: block;
}

#typeTable, #priceTable, #msgDiv {
  display: none;
}

/* Price Table, Type Table */

table {
  margin: 0 auto;
  border-spacing: 9px;
}

td {
  border-width: 1px;
  border-style: solid;
  border-color: #eeeeee;
  font-size: 45px;
  height: 75px;
  width: 90px;
  border-radius: 3px;
  background-color: #eeeeee;
  transition: background-color 0.4s ease;
}

td:hover {
  cursor: default;
  background-color: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 1px 0px;;
}

#display {
  background-color: white;
}

#display:hover {
  background-image: none;
  box-shadow: none;
}

/* Login Div */
h3 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 35px;
}

#loginDiv > p {
  font-size: 16px;
  padding: 12px;
}

form {
  font-size: 18px;
}

input[type=text], input[type=password] {
  border: 1px solid #999;
  border-radius: 3px;
  margin-bottom: 1em;
  font-size: 18px;
}

button {
  background-color:#f2f2f2;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #f2f2f2;
  cursor:pointer;
  color:#757575;
  font-size: 18px;
  font-weight:bold;
  padding: 10px;
  margin-top: 16px;
}
button:hover {
  color: black;
  border-color: #c6c6c6;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, rgb(248, 248, 248), rgb(241, 241, 241));
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 1px 0px;;
}

input:focus, button:focus {
  outline: none;
}

#version {
  font-size: 12px;
  color: #333333;
}

/* Message Div */

#msgDiv > h2 {
  margin: 70px;
}

/* List Div */
#listDiv {
  height: 402px;/* 450 - 48px */
}
#listDiv {
  overflow-y: scroll;
}

#recordTable {
  border-collapse:collapse;
}

#recordTable tr:nth-child(odd) {
  background-color: #ffffff;
}

#recordTable tr:nth-child(even) {
  background-color: #f5f5f5;
}

#recordTable td {
  border-radius: 0;
  background-color: transparent;
  font-size: 20px;
  height: 35px;
  border: none;
}

#recordTable td:hover {
  box-shadow: none;
  background-color: transparent;
}

/* Option Table */

.small-icon, .large-icon {
  background-repeat: no-repeat;
  background-position: center;
}

.small-icon {
  height: 80px;
  width: 80px;
  background-size: 50px;
}

.large-icon {
  height: 190px;
  width: 190px;
  background-size: 125px;
}

#setting {
  background-image: url("../img/setting.png");
}

#lineChart {
  background-image: url("../img/line-chart.svg");
}

#pieChart {
  background-image: url("../img/pie-chart.png");
  background-size: 125px;
  background-repeat: no-repeat;
  background-position: center; 
}

#logout {
  background-image: url("../img/logout.png");
}

#feedback {
  background-image: url("../img/feedback.svg");
}

#showList {
  background-image: url("../img/list.png");
}

/* Setting Div */

#settingDiv {
  font-size: 20px;
}