@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff');
  font-weight: normal;
  font-style: normal;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-color: #f5f5f5;
  font-family: arial;
  text-align: center;

  /* Unseletable for everthing */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;

  /* Disable scroll */
  position: fixed;
  overflow: scroll;
}

h1 {
  font-size: 2.5em;
  margin: 1.5em 0;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.5em;
  margin: 0.5em 0;
  font-weight: bold;
}

#wrapper {
  background-color: #ffffff;
  overflow: hidden;
}

#wrapper > div {
  width: 100%;
}

#wrapper > div.full {
  height: 100%;
}

#wrapper > div.no-head {
  height: calc(100% - 4em - 2px);
}

#wrapper > div.show {
  animation-name: pageShow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes pageShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo {
  padding: 5% 0;
  height: 35%;
}

/* Title Bar */
#titleBar {
  position: relative;
  width: 100%;
  display: none;

  background-color: #24d3d9;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.4em;
}

#titleBar.show {
  display: block;
}

#titleBar > p {
  margin: 0;
  display: inline;
}

#titleBar > .icon {
  position: absolute;
  cursor: pointer;
}

#titleBar > .titlebar-float-left {
  left: 10%;
}

#titleBar > .titlebar-float-right {
  right: 10%;
}

/* Table */
table {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  border-spacing: 0.3em;
}

table.large-table {
  font-size: 3em;
}

table.large-table td {
  width: 33%;
}

table.small-table {
  font-size: 1.5em;
  line-height: 2em;
}

table.button-table {
  font-size: 1.5em;
}

table.button-table td {
  padding: 0.3em;
}

td {
  width: 25%;
  background-color: #eeeeee;
  transition: background-color 0.4s ease;
}

td:hover {
  background-color: #fcacac;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.33);
}

#display {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #f0f0f0;
}

#display:hover {
  background-image: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
}

/* Login Page */

button {
  background-color:#f2f2f2;
  border-style: solid;
  border-width: 1px;
  border-color: #f2f2f2;
  cursor:pointer;
  color:#757575;
  font-weight:bold;
}

button {
  margin-top: 1em;
  font-size: 1.5em;
  padding: 0.5em;
}

button:hover {
  color: black;
  border-color: #c6c6c6;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, rgb(248, 248, 248), rgb(241, 241, 241));
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 1px 0px;
}

input {
  margin-bottom: 1em;
}

input {
  border: 1px solid #999;
  font-size: 1.5em;
  text-align: center;
}

input:focus, button:focus {
  outline: none;
}

#version {
  color: #333333;
}

/* List Page */
#listDiv {
  overflow-y: scroll;
}

#recordTableLoadingMessage {
  display: none;
}

.list-table {
  border-collapse: collapse;
}

.list-table tr:nth-child(odd) {
  background-color: #ffffff;
}

.list-table tr:nth-child(even) {
  background-color: #f5f5f5;
}

.list-table td {
  background-color: transparent;
  border: none;
}

.list-table td:hover {
  box-shadow: none;
  background-color: transparent;
}

/* Option Table */

/* icons */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.small-icon {
  font-size: 0.9em;
}

#priceDiv .small-icon {
  font-size: 0.7em;
}

.large-icon {
  font-size: 2em;
}

.icon-home:before {
  content: "\e600";
}
.icon-feedback:before {
  content: "\e601";
}
.icon-spinner:before {
  content: "\e602";
}
.icon-setting:before {
  content: "\e603";
}
.icon-pie-chart:before {
  content: "\e604";
}
.icon-line-chart:before {
  content: "\e605";
}
.icon-list:before {
  content: "\e607";
}
.icon-cross:before {
  content: "\e608";
}
.icon-checkmark:before {
  content: "\e609";
}
.icon-exit:before {
  content: "\e60a";
}
.icon-arrow-left:before {
  content: "\e60b";
}

#wrapper > #pieChartDiv {
  overflow-y: scroll;
}

#pieChartDiv hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
  margin: 5px 0;
}

#pieChartDiv canvas {
  height: 60%;
  width: 60%;
  margin: 4% 0;
}

#pieChartDiv table {
  border-spacing: 5px;
}

#pieChartDiv table td.active {
  background-color: #C6EABE;
}

/* Responsive Setting */

@media (min-width: 320px) and (max-width: 768px) {

  /* Mobile View */
  #wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 769px) {  

  /* PC view */
  #wrapper {
    width: 400px;
    height: 560px;
    margin: 20px auto;

    border-style: solid;
    border-width: 1px;
    border-top-width: 0;
    border-color: #B4B4B4;

    box-shadow: 0px 5px 60px #999999;
  }
}