<table id="priceTable">
  <tr>
    <td id="display" colspan="3">0</td>
  </tr>
  <tr>
    <td onclick="clickNumber(1)">1</td>
    <td onclick="clickNumber(2)">2</td>
    <td onclick="clickNumber(3)">3</td>
  </tr>
  <tr>
    <td onclick="clickNumber(4)">4</td>
    <td onclick="clickNumber(5)">5</td>
    <td onclick="clickNumber(6)">6</td>
  </tr>
  <tr>
    <td onclick="clickNumber(7)">7</td>
    <td onclick="clickNumber(8)">8</td>
    <td onclick="clickNumber(9)">9</td>
  </tr>
  <tr>
    <td id="logOutKey" onmousedown="resetDown()" onmouseup="resetUp()" onclick="display.erase()">C</td>
    <td onclick="clickNumber(0)">0</td>
    <td onclick="clickSend()">✈</td>
  </tr>
</table>