<table id="typeTable">
  <tr>
    <td onclick="clickType('衣')">衣</td>
    <td onclick="clickType('住')">住</td>
    <td onclick="clickType('行')">行</td>
  </tr>
  <tr>
    <td onclick="clickType('育')">育</td>
    <td onclick="clickType('食')" colspan="2" rowspan="2">食</td>
  </tr>
  <tr>
    <td onclick="clickType('樂')">樂</td>
  </tr>
  <tr>
    <td onclick="clickType('雜')">雜</td>
    <td onclick="clickType('日用')" colspan="2">日用</td>
  </tr>
  <tr>
    <td onclick="clickCancel()" colspan="3">Cancel</td>
  </tr>
</table>